################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ObligatorioP3/FileContentIndex/c5796d5e-5ea0-428c-9a7e-30df6d134d5f.vsidx
/.vs/ObligatorioP3/DesignTimeBuild/.dtbcache.v2
/.vs/ObligatorioP3/FileContentIndex/08cc181c-fcc8-42b3-a687-f6b08d675402.vsidx
/.vs/ObligatorioP3/FileContentIndex/b7fad163-7bd7-4404-877d-961b37e25179.vsidx
/.gitignore
