
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs/ObligatorioP3/FileContentIndex/c5796d5e-5ea0-428c-9a7e-30df6d134d5f.vsidx
/.vs/ObligatorioP3/DesignTimeBuild/.dtbcache.v2
/.vs/ObligatorioP3/FileContentIndex/08cc181c-fcc8-42b3-a687-f6b08d675402.vsidx
/.vs/ObligatorioP3/FileContentIndex/b7fad163-7bd7-4404-877d-961b37e25179.vsidx
/.gitignore
/.vs/ProyectoAlquileres/v17/.suo

*.vsidx
*.1
*.v2
/.vs/ProyectoAlquileres/FileContentIndex/read.lock
/ObligatorioP3/bin/Debug/net7.0/Obligatorio_LogicaNegocio.dll
/ObligatorioP3/obj/Debug/net7.0/Obligatorio_LogicaNegocio.dll
/ObligatorioP3/bin/Debug/net7.0/Obligatorio_LogicaNegocio.pdb


# Ignore all .dll and .pdb files
*.dll
*.pdb
/Web API/bin/Debug/net7.0/Obligatorio_AccesoDatos.dll
/Web API/obj/Debug/net7.0/Web API.pdb
/Web API/obj/Debug/net7.0/Web API.dll
/Web API/bin/Debug/net7.0/Web API.pdb
/Web API/bin/Debug/net7.0/Web API.dll
/Web API/bin/Debug/net7.0/Obligatorio_LogicaNegocio.pdb
/Web API/bin/Debug/net7.0/Obligatorio_LogicaNegocio.dll
/Web API/bin/Debug/net7.0/Obligatorio_Aplicacion.pdb
/Web API/bin/Debug/net7.0/Obligatorio_Aplicacion.dll
/Web API/bin/Debug/net7.0/Obligatorio_AccesoDatos.pdb
/Obligatorio_Aplicacion/obj/Debug/net7.0/Obligatorio_Aplicacion.pdb
/Obligatorio_Aplicacion/obj/Debug/net7.0/Obligatorio_Aplicacion.dll
/Web API/obj/Debug/net7.0/Web API.csproj.AssemblyReference.cache
/Obligatorio_Aplicacion/obj/Debug/net7.0/Obligatorio_Aplicacion.csproj.AssemblyReference.cache
/Obligatorio_AccesoDatos/obj/Debug/net7.0/Obligatorio_AccesoDatos.csproj.AssemblyReference.cache
/BaseDeDatosObligatorioProgramacion.mdf
/BaseDeDatosObligatorioProgramacion_log.ldf
/BaseDeDatosObligatorioProgramacion_log.ldf
/BaseDeDatosObligatorioProgramacion.mdf
